.header_main_div{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.select_div{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.select_div button{
    width: auto;
    height: 25px;
   
    margin-bottom: 10px;
    border: solid 1px cyan;
}